/* GENERAL */

body, html {
	font-size: 16px;
}

/* UTILITIES */

.u-container {
	max-width: 1245px;
	margin: 0 auto;
}

/* HEADER */

.header {
	background-color: green;
	height: 90px;
}
.header-logo {
	height: 100%;
	background-color: yellow;
	width: 20%;
	display: inline-block;
	position: relative;
}
.header-logo img {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.header-main {
	background-color: brown;
	display: inline-block;
	width: 80%;
	float: right;
	height: 100%;
	box-sizing: border-box;
	padding: 0 70px;
	height: 45px;
	line-height: 45px;
}
.header-main .links {
	background-color: peru;
	height: 45px;
	line-height: 45px;
	font-size: 0.88em;
}
.header-main .links a {
	color: #333333;
}
.header-main .links a:nth-child(2){
	float: right;
}
.header-main .main-list {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
}
.header-main .main-list-item {
	height: 50%;
	display: inline-block;
}
.header-main .main-list-item a {
	color: #333333;
	text-decoration: none;
	padding: 10px;
	font-weight: 600;
	font-size: 1.12em;
}
.header-main .main-list-item a:hover {
	color: #f80000;
}

/* BANNER */

.banner {
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-position: right center;
	min-height: 500px;
	position: relative;
}
.banner-bg {
	background-image: url("../images/bg-red.png");
	background-repeat: no-repeat;
	height: 500px;
}
.banner-text {
	// background-color: yellow;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	margin-left: 60px;
}
.banner-text-title {
	font-size: 2.12em;
	margin: 0;
}
.banner-text-text {
	font-size: 1.12em;
}
.banner-text-contentButtons {
	display: flex;
}
.banner-text-contentButtons .button {
	margin-right: 8px;
	padding: 18px 61px;
	color: #006699;
	font-size: 1.06em;
}
.banner-text-contentLinks {
	display: flex;
}
.banner-text-contentLinks .link {
	margin-right: 8px;
	padding: 18px 4px;
	color: white;
	font-size: 1.25em;
}

/* ERP CLOUD */

.erpCloud {
	display: flex;
	justify-content: center;
}
.erpCloud-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.erpCloud-text-title {
	font-size: 1.75em;
}
.erpCloud-text-list {
	list-style: none;
}
.erpCloud-text-list .item {
	margin: 0 0 20px;
}
.erpCloud-text-contentButtons {
	display: flex;
	justify-content: center;
}
.erpCloud-text-contentButtons .button {
	padding: 18px 61px;
	margin: 10px;
	border: 1px solid #006699;
	color: #006699;
	background: transparent;
}
.erpCloud-text-contentButtons .button:hover {
	border: 1px solid black;
	color: black;
}

/* CUSTOMERS */

.customers {
	margin: 50px 0;
}
.customers-title {
	text-align: center;
	font-size: 1.50em;
}
.customers-contentImages {
	display: flex;
	justify-content: space-around;
}